<h1>Password Reset:</h1>
<h2>A password reset has been requested for your account</h2>
<h3><i>If you did not make this request, you may safely ignore this e-mail</i></h3>
<p>Your login is:<br />{{ email }}</p>
<p>and your temporary password is:<br />{{ temporaryPassword }}</p>
<p>the temporary password will be valid until used or {{ expires }}</p>
<p><a href="{{ loginHref }}">- {{ appName }}</a></p>