{% if tabularTitle %}
    <h2>{{ tabularTitle }}</h2>
{% endif %}
<h2>{{ rows|length }} {{ rowsName }}</h2>
{% if rows|length > 0 %}
    {% if csvHref %}
        <a href="{{ csvHref }}" target="csv">Download As CSV</a>
    {% endif %}
<table class="data autoT">
    <thead>
        <tr>
        {% for column in columns %}
            <th>{{ column.name }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
        {% for cell in row.cells %}
            <td>
                {% if cell.href %}
                <a href="{{ cell.href }}">
                {% endif %}
                {% if cell.containsHtml %}
                    {{ cell.value|raw }}
                {% else %}
                    {{ cell.value }}
                {% endif %}
                {% if cell.href %}
                </a>
                {% endif %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
    {% if hasTFoot %}
    <tfoot>
    <tr>
    {% for cell in tFoot.cells %}
        <th>{{ cell.value }}</th>
    {% endfor %}
    </tr>
    </tfoot>
    {% endif %}
</table>
{% if csvHref %}
    <a href="{{ csvHref }}" target="csv">Download As CSV</a>
{% endif %}
{% endif %}